# Ignore large datasets folder
transformed_dataset_imeisv_8609960480666910/
DatasetsNew/

# Ignore zip files
*.zip 

# Ignore all CSV datasets in any DatasetIOT folder across all approaches
**/DatasetIOT/*.csv